<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959588499299-35e0fcg52ji73880336f6ijbgtbt8bua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959588499299-35e0fcg52ji73880336f6ijbgtbt8bua</string>
	<key>API_KEY</key>
	<string>AIzaSyC3B8phFSz293s68PORDsD5sacYI4eeCd0</string>
	<key>GCM_SENDER_ID</key>
	<string>959588499299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aadishivmalhotra.FilePlay</string>
	<key>PROJECT_ID</key>
	<string>aurioplayer-34e1e</string>
	<key>STORAGE_BUCKET</key>
	<string>aurioplayer-34e1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959588499299:ios:395eff0c9674f9ebf85d56</string>
</dict>
</plist>